<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UmSocialAppkey</key>
	<string>5861e5daf5ade41326001eab</string>
	<key>UMQQAppId</key>
	<string>1105821097</string>
	<key>UMQQAppKey</key>
	<string>9eeUUkEtVHbUAC4G</string>
	<key>UMWXAppId</key>
	<string>wxdc1e388c3822c80b</string>
	<key>UMWXSecret</key>
	<string>3baf1193c85774b3fd9d18447d76cab0</string>
</dict>
</plist>
